{
  "openapi": "3.0.0",
  "info": {
    "version": "4.22.0",
    "title": "SimpleLogin (unofficial)",
    "description": "The unofficial SimpleLogin API docs as OpenAPI 3.0.0 spec. This is based on the official markdown based docs, but written in OpenAPI to allow for easier integration with other tools and generation of client SDKs. Please do not contact the SimpleLogin team for support or issues with this API documentation.",
    "contact": {
      "name": "Kenneth Wußmann",
      "email": "contact@ketrwu.de",
      "url": "https://github.com/KennethWussmann/simplelogin-client"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/KennethWussmann/simplelogin-client/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://app.simplelogin.io/api",
      "description": "SimpleLogin API"
    }
  ],
  "tags": [
    {
      "name": "account"
    },
    {
      "name": "alias"
    },
    {
      "name": "mailbox"
    },
    {
      "name": "custom-domain"
    },
    {
      "name": "contact"
    },
    {
      "name": "notification"
    },
    {
      "name": "settings"
    },
    {
      "name": "import-export"
    },
    {
      "name": "phone"
    },
    {
      "name": "misc"
    }
  ],
  "paths": {
    "/alias/random/new": {
      "post": {
        "tags": [
          "alias"
        ],
        "summary": "Create random",
        "description": "Create a new random alias",
        "operationId": "createRandom",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasRandomNewPost"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/auth/activate": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "Activate",
        "description": "Activate a new account with the activation code that was sent to the user's email.",
        "operationId": "activate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthActivatePost"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful. User can login now."
          },
          "400": {
            "description": "Wrong email or code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "Wrong code entered too often. User needs to ask for a new code using reactivate endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/forgot_password": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "Forgot password",
        "description": "Request a link to reset the password for a registered account.",
        "operationId": "forgotPassword",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthForgotPasswordPost"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Always returns 200, no matter if the email is registered or not. User is going to receive an email that contains a link to reset their password."
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "Login",
        "description": "Login using email and password to get an access token.",
        "operationId": "login",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthLoginPost"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthLogin"
                }
              }
            }
          }
        }
      }
    },
    "/auth/mfa": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "MFA authentication",
        "description": "Authenticate using MFA",
        "operationId": "mfa",
        "requestBody": {
          "description": "The api_key is used in all subsequent requests. It's empty if MFA is enabled. If user hasn't enabled MFA, mfa_key is empty.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthMfaPost"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthMfa"
                }
              }
            }
          }
        }
      }
    },
    "/auth/reactivate": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "Reactivate",
        "description": "Request a new activation code for an account that was already registered, but not activated yet.",
        "operationId": "reactivate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthReactivatePost"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful. User is going to receive an email that contains an activation code."
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "Register",
        "description": "Register a new account",
        "operationId": "register",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRegisterPost"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful. User is going to receive an email that contains an activation code. User needs to enter this code to confirm their account with the activate endpoint."
          }
        }
      }
    },
    "/logout": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Logout",
        "description": "Log out user",
        "operationId": "logout",
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/sudo": {
      "patch": {
        "tags": [
          "account"
        ],
        "summary": "Sudo mode",
        "description": "Enable sudo mode",
        "operationId": "enableSudoMode",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SudoPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/user/api_key": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "API key",
        "description": "Create a new API key",
        "operationId": "createApiKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserApiKeyPost"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserApiKey"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/user/cookie_token": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Cookie token",
        "description": "Get a one time use cookie to exchange it for a valid cookie in the web app",
        "operationId": "cookieToken",
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserCookieToken"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/user": {
      "delete": {
        "tags": [
          "account"
        ],
        "summary": "User",
        "description": "Delete user (requires sudo mode)",
        "operationId": "deleteUser",
        "responses": {
          "200": {
            "description": "Successful. Account is scheduled for deletion.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "440": {
            "description": "Sudo mode is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/user_info": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "User info",
        "description": "Get user info",
        "operationId": "userInfo",
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "account"
        ],
        "summary": "User info",
        "description": "Update user info",
        "operationId": "updateUserInfo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInfoPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/v2/aliases": {
      "get": {
        "tags": [
          "alias"
        ],
        "summary": "Aliases",
        "description": "Get user aliases",
        "operationId": "aliases",
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/v3/alias/custom/new": {
      "post": {
        "tags": [
          "alias"
        ],
        "summary": "Create custom",
        "description": "Create a new custom alias",
        "operationId": "createCustom",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasCustomNewPost"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/v5/alias/options": {
      "get": {
        "tags": [
          "alias"
        ],
        "summary": "Options",
        "description": "User alias info and suggestion. Used by the first extension screen when user opens the extension.",
        "operationId": "options",
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AliasOptions"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "parameters": {
      "PathId": {
        "in": "path",
        "name": "id",
        "schema": {
          "type": "integer"
        },
        "required": true,
        "description": "Numeric ID of object to fetch"
      },
      "QueryOffset": {
        "in": "query",
        "name": "offset",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 0
        },
        "description": "The number of items to skip before starting to collect the result set."
      }
    },
    "schemas": {
      "AliasCustomNewPost": {
        "type": "object",
        "properties": {
          "alias_prefix": {
            "type": "string",
            "description": "The first part of the alias that user can choose."
          },
          "signed_suffix": {
            "type": "string",
            "description": "One of the suffixes returned in the options endpoint."
          },
          "mailbox_ids": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "note": {
            "type": "string",
            "description": "Note of this alias"
          },
          "name": {
            "type": "string",
            "description": "Name of this alias"
          }
        },
        "required": [
          "alias_prefix",
          "signed_suffix",
          "mailbox_ids"
        ]
      },
      "Alias": {
        "type": "object",
        "properties": {
          "creation_date": {
            "type": "string",
            "format": "date-time"
          },
          "creation_timestamp": {
            "type": "integer"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "id": {
            "type": "integer"
          },
          "mailbox": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string"
              },
              "id": {
                "type": "integer"
              }
            },
            "required": [
              "email",
              "id"
            ]
          },
          "mailboxes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "id": {
                  "type": "integer"
                }
              },
              "required": [
                "email",
                "id"
              ]
            }
          },
          "latest_activity": {
            "type": "object",
            "properties": {
              "action": {
                "type": "string"
              },
              "contact": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "reverse_alias": {
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "name",
                  "reverse_alias"
                ]
              },
              "timestamp": {
                "type": "integer"
              }
            },
            "required": [
              "action",
              "contact",
              "timestamp"
            ]
          },
          "nb_block": {
            "type": "integer"
          },
          "nb_forward": {
            "type": "integer"
          },
          "nb_reply": {
            "type": "integer"
          },
          "note": {
            "type": "string"
          },
          "pinned": {
            "type": "boolean"
          },
          "disable_pgp": {
            "type": "boolean"
          },
          "support_pgp": {
            "type": "boolean"
          }
        },
        "required": [
          "creation_date",
          "creation_timestamp",
          "email",
          "name",
          "enabled",
          "id",
          "mailbox",
          "mailboxes",
          "latest_activity",
          "nb_block",
          "nb_forward",
          "nb_reply",
          "note",
          "pinned",
          "disable_pgp",
          "support_pgp"
        ]
      },
      "AliasOptions": {
        "type": "object",
        "properties": {
          "can_create": {
            "type": "boolean",
            "description": "Whether the user can create an alias or not"
          },
          "prefix_suggestion": {
            "type": "string"
          },
          "suffixes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "suffix": {
                  "type": "string",
                  "example": ".cat@d1.test"
                },
                "signed-suffix": {
                  "type": "string",
                  "example": ".cat@d1.test.X6_7OQ.0e9NbZHE_bQvuAapT6NdBml9m6"
                },
                "is_custom": {
                  "type": "boolean"
                },
                "is_premium": {
                  "type": "boolean"
                }
              },
              "required": [
                "suffix",
                "signed-suffix",
                "is_custom",
                "is_premium"
              ]
            }
          },
          "recommendation": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "alias": {
                  "type": "string"
                },
                "hostname": {
                  "type": "string"
                }
              },
              "required": [
                "alias",
                "hostname"
              ]
            }
          }
        },
        "required": [
          "can_create",
          "prefix_suggestion",
          "suffixes"
        ]
      },
      "AliasRandomNewPost": {
        "type": "object",
        "properties": {
          "note": {
            "type": "string",
            "description": "Note of this alias"
          }
        }
      },
      "AuthActivatePost": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address used to register account"
          },
          "code": {
            "type": "string",
            "description": "Activation code sent to email"
          }
        },
        "required": [
          "email",
          "code"
        ]
      },
      "AuthForgotPasswordPost": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address used to register account"
          }
        },
        "required": [
          "email"
        ]
      },
      "AuthLogin": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "User's name, could be an empty string."
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "mfa_enabled": {
            "type": "boolean"
          },
          "mfa_key": {
            "type": "string",
            "description": "Only useful when user enables MFA. In this case, user needs to enter their OTP token in order to login."
          },
          "api_key": {
            "type": "string",
            "description": "If MFA is not enabled, the api key is returned right away."
          }
        },
        "required": [
          "name",
          "email",
          "mfa_enabled",
          "mfa_key",
          "api_key"
        ]
      },
      "AuthLoginPost": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          },
          "device": {
            "type": "string"
          }
        },
        "required": [
          "email",
          "password",
          "device"
        ]
      },
      "AuthMfa": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "User's name, could be an empty string"
          },
          "api_key": {
            "type": "string",
            "description": "If MFA is not enabled, the api key is returned right away."
          },
          "email": {
            "type": "string",
            "description": "User email"
          }
        },
        "required": [
          "name",
          "email",
          "api_key"
        ]
      },
      "AuthMfaPost": {
        "type": "object",
        "properties": {
          "mfa_token": {
            "type": "string",
            "description": "OTP token that user enters"
          },
          "mfa_key": {
            "type": "string",
            "description": "MFA key obtained in previous auth request"
          },
          "device": {
            "type": "string",
            "description": "The device name, used to create an ApiKey associated with this device"
          }
        },
        "required": [
          "mfa_token",
          "mfa_key",
          "device"
        ]
      },
      "AuthReactivatePost": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address used to register account"
          }
        },
        "required": [
          "email"
        ]
      },
      "AuthRegisterPost": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          }
        },
        "required": [
          "email",
          "password"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "Success": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          }
        },
        "required": [
          "ok"
        ]
      },
      "SudoPatch": {
        "type": "object",
        "properties": {
          "password": {
            "type": "string"
          }
        }
      },
      "UserApiKey": {
        "type": "object",
        "properties": {
          "api_key": {
            "type": "string"
          }
        },
        "required": [
          "api_key"
        ]
      },
      "UserApiKeyPost": {
        "type": "object",
        "properties": {
          "device": {
            "type": "string",
            "description": "Device name"
          }
        },
        "required": [
          "device"
        ]
      },
      "UserCookieToken": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          }
        },
        "required": [
          "token"
        ]
      },
      "UserInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "User's full name"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "is_premium": {
            "type": "boolean",
            "description": "Whether the user is a premium user or not"
          },
          "in_trial": {
            "type": "boolean",
            "description": "Whether the user is in trial period or not"
          },
          "profile_picture": {
            "type": "string",
            "format": "url",
            "description": "URL of the user's profile picture"
          },
          "max_alias_free_plan": {
            "type": "number"
          }
        },
        "required": [
          "name",
          "email",
          "is_premium",
          "in_trial",
          "profile_picture",
          "max_alias_free_plan"
        ]
      },
      "UserInfoPatch": {
        "type": "object",
        "properties": {
          "profile_picture": {
            "type": "string",
            "format": "base64",
            "description": "Image of the new profile picture encoded in base64. Set to null to remove current profile picture."
          },
          "name": {
            "type": "string",
            "description": "New name of the user"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authentication"
      }
    }
  }
}