name: build
on: [push]

env:
  FORCE_COLOR: 1

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: read
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/npm-install
      - name: Login to GitHub Packages Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: npm run ci
      # upload changes.patch on failure
      - name: Upload uncomitted changes
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: changes.patch
          path: changes.patch
